<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icon_ico.ico">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <title>Image Manipulation Detector</title>
</head>
<body>
    <h1>Do You Wish To Check If This Image Is Manipulated?</h1>
    <div class="box">
        <a class="button" href="#popup1">Check!</a>
    </div>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Checking For Manipulation...</h2>
            <a class="close" href="#">&times;</a>
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>

<script src="/static/main.js"></script>
</body>
</html>

